.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg1);
    padding: 2rem;
    min-height: 100vh;
}

.about-title {
    text-align: center;
    margin: 2rem;
    font-size: 2.5rem;
    color: var(--prim);
    animation: slideIn 1s ease forwards;
}

.about-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); /* Aumenta a largura mínima dos cards */
    gap: 2rem; /* Aumenta o espaço entre os cards */
    justify-content: center;
    margin: 1rem;
}

.about-card-container {
    padding: 2em;
    border: 0.1rem solid var(--prim);
    border-radius: 1rem;
    background-color: var(--bg2);
    text-align: center;
    color: var(--terti);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    height: 15rem; /* Aumenta a altura dos cards se necessário */
    width: 100%; 
    animation: slideIn 0.5s ease forwards;
    opacity: 0;
}

.about-card-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.about-card-card:hover {
    transform: rotateY(180deg);
}

.about-card-front, .about-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--bg2);
    color: var(--terti);
}

.about-card-back {
    transform: rotateY(180deg);
    background-color: var(--second);
}

.about-card-front-title, .about-card-back-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about-card-front-text, .about-card-back-text {
    font-size: 1rem;
    text-align: center;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .about-card-container {
        height: 200px;
    }

    .about-card-front-title, .about-card-back-title {
        font-size: 1.2rem;
    }

    .about-card-front-text, .about-card-back-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .about-title {
        font-size: 2rem;
    }

    .about-card-container {
        height: 180px;
    }

    .about-card-front-title, .about-card-back-title {
        font-size: 1rem;
    }

    .about-card-front-text, .about-card-back-text {
        font-size: 0.8rem;
    }
}
