*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-section{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

:root{
    --bg1: #FACCD7;
    --bg2: #F98EAA;
    
    --prim: #F62E70;
    --second: #E77ED0;
    --terti: #00e6fe;
    --quatern: ;
    --quin: ;
    --white: #fff;
    --black: #000;
}